apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: amazon
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: jithendarramagiri1998/mini-amazon:frontend
        ports:
          - containerPort: 80
        env:
          - name: REACT_APP_API_URL
            value: "http://<API_GATEWAY_EXTERNAL_HOSTNAME_OR_DNS>/api"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: amazon
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
