apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
  namespace: amazon
  labels:
    app: search-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service
          image: jithendarramagiri1998/mini-amazon:search-service
          ports:
            - containerPort: 3003
          env:
            - name: REDIS_URL
              value: "redis://redis:6379"
          readinessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 8
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: amazon
spec:
  selector:
    app: search-service
  ports:
    - port: 3003
      targetPort: 3003
      protocol: TCP
  type: ClusterIP
